body {
    background-color: #292929;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.pics-slides {
    display: flex;
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 5px;
}
.pics-slides::-webkit-scrollbar {
    display: none;
}
.pics-slides img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.picture {
    width: 100%;
}
.control-buttons {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.control-buttons a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: gray;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
input {
    cursor: pointer;
}